/*
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */
html, body {
    color: #4A4A4A;
    background-color: #000;

}


/* Headings */
h1 {
    margin-top: 100px;
    color: #000;
}

h2 {
    font-size: 3em;
    letter-spacing: -0.05em;
    margin-top: 0.5em;
    background: url("./images/category-shadow.png") no-repeat 0 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #172040;
}

h2 a { color: #074E79; }
h2 a:hover { color: #0295EE; text-decoration: none; }
h2 a:active { color: #00C0FF; }
h2.solo { margin-bottom: 0.5em; }


h3 {
    border-bottom: 1px solid #444;
    color: #0080b2;
    border-color: rgba(29, 63, 98, 0.5);
}

h3 a:hover
{
    text-decoration: none;
}

.pm .postbody h3.first {
    font-size: 1.6em;
    color: #0080b2;
}

hr {
    border-color: #b5b3b2;
}
/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

/* Round cornered boxes and backgrounds
---------------------------------------- */
/* Main blocks */

#wrap {
    background: #D3D1CE;
}

.forabg {
    background-color: transparent;
    background-image: none;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
}

/* Horizontal lists
----------------------------------------*/


/* Table styles
----------------------------------------*/


/* Misc layout styles
---------------------------------------- */

/* Responsive breadcrumbs */

/* jQuery popups*/

/* pbWoW */

/* Other blocks */

/* Footer */

/* Rules & Errors */

/* Drop-down menus */

/* dropdown-extended */

/* Contact menu */

/* Profile Context Menu */

/* Hover states */

/* Icon styles
---------------------------------------- */

/* Miscellaneous styles
---------------------------------------- */

/*
---------------------------------------------------------
Colours and backgrounds for content.css
--------------------------------------------------------- */

li.row,
li.row.bg1,
li.row.bg2 {
    background: #D8D8D8;
    border-color: #C5C5C5;
    border-width: 0 0 1px 0;
}

li.row {
    border-width: 1px;
    border-style: solid;
    border-color: #000 transparent #161616 transparent;
    transition: background 0.15s ease-in-out 0s;
}

li.row:hover
{
    background-color: #1E1E1E;
    background-color: rgba(30, 30, 30, 0.8);
}

li.row.bg1 {
    background: #252525 linear-gradient(to bottom, rgba(30, 30, 30, 1) 0, rgba(37, 37, 37, 0) 35px);
    border-color: #252525 #000 #000 #252525;
}

li.row.bg1:hover
{
    background: #252525 linear-gradient(to top, rgba(30, 30, 30, 1) 0, rgba(37, 37, 37, 0) 35px);
    color: #FFF;
}

li.row.bg2 {
    background: #161616 linear-gradient(to bottom, rgba(11, 11, 11, 1) 0, rgba(22, 22, 22, 0) 35px);
    border-color: #161616 #000 #000 #161616;
}

li.row.bg2:hover
{
    background: #161616 linear-gradient(to top, rgba(11, 11, 11, 1) 0, rgba(22, 22, 22, 0) 35px);
    color: #FFF;
}

li.row.bg3 /* unread notifications */
{
    background: #333 linear-gradient(to bottom, rgba(40, 40, 40, 1) 0, rgba(51, 51, 51, 0) 35px);
    border-color: #333 #000 #000 #333;
}

li.row.bg3:hover
{
    background: #333 linear-gradient(to top, rgba(40, 40, 40, 1) 0, rgba(51, 51, 51, 0) 35px);
    color: #FFF;
}


/* Post body styles
----------------------------------------*/
.postbody h3 {
    font-size: 1.2em;
}

.postbody h3.first {
    font-size: 1.3em;
}

.post:target h3 a {
    color: #FFF;
}

.post:target .content {
    color: #DDD;
}

.post .postbody h3,
.post p.author {
    margin-left: 10px !important; /* TODO check */
}

.postprofile,
.postbody,
.content,
blockquote {
    color: #4A4A4A;
    text-shadow: none;
}

.postprofile strong { color: #0072a3; }

.post:target {
    border: 1px solid #d8d8d8;
}

.post:target .content {
    color: #000;
}


/* Content container styles
--------------------------------------------- */
.content h2, .panel h2 {
    color: #074e79;
    background: none;
    border-bottom-color: #3380C8;
}


/* BB Code styles
----------------------------------------*/
/* Quote block */

blockquote {
    background: rgba(10, 10, 10, 0.2) linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0) 30%);
    border-color: #575757;
    color: #CCCCCC;
    padding: 6px 10px 10px 10px;
    position: relative;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
}

blockquote {
    background: rgba(67, 67, 67, 0.12);
    border: none;
    border-radius: 5px;
    box-shadow: none;
}

blockquote:before, blockquote:after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    position: absolute;
    opacity: 0.3;
}

blockquote:before {
    content: "\f10d";
    left: 3px;
    top: 2px;
}

blockquote:after {
    content: "\f10e";
    right: 3px;
    bottom: 2px;
}

.signature, .notice {
    border-top-color: #555;
    padding: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.signature, .notice {
    border-top-color: rgba(200, 200, 200, 0.6);
}

.signature {
    opacity: 0.7;
}

/* Code block */
.codebox, code.inline {
    background: linear-gradient(to bottom, #cacac7 0%, #C8C8C8 60%);
    border-color: transparent;
    box-shadow: none;
    color: #35B92F;
}

.codebox code {
    color: #35B92F;
    text-align: left;
    max-height: 400px;
}

.codebox p {
    border-color: #999;
    border-bottom-color: #afafaf;
}

dl.codebox {
    background-color: rgba(28, 40, 100, 0.2);
}

.codebox {
    background-color: rgba(10, 10, 10, 0.3);
    text-shadow: none;
}

.syntaxbg { color: #000C18; }
.syntaxcomment { color: #5a545c; }
.syntaxdefault { color: #435f9f; }
.syntaxkeyword { color: #171e2d; }
.syntaxstring { color: #930c06; }
.syntaxhtml { color: #AAA; }

code.inline {
    background-color: rgba(10, 10, 10, 0.3);
    border: 1px solid rgba(88, 88, 88, 0.7);
    border-radius: 2px;
    color: #209347;
    display: inline;
    font-family: Monaco, 'Andale Mono', 'Courier New', Courier, monospace;
    font-size: 0.8em;
    font-style: normal;
    line-height: 1.3em;
    padding: 0 3px;
}


/* Attachments
----------------------------------------*/
.attachbox {
    background-color: rgba(10, 10, 10, 0.3);
    border-color: #7C7C7C;
    margin: 10px;
}

.attachbox {
    background: rgba(67, 67, 67, 0.12);
}

.attachbox dd {
    border-top-color: #575757;
}

.attachbox p {
    /*color: #999;*/
}

.attachbox p.stats {
    /*color: #999;*/
}

.pm-message .attachbox {
    background-color: #333;
}

.attach-image img {
    border-color: #444;
}

.inline-attachment {
    /* TODO */
}


dl.file dd {
    color: #999;
}

dl.file dd {
    color: #858084;
}

dl.details dt {
    color: #DDD;
}

dl.details dt {
    color: #7a7a7a;
}

dl.details dd {
    color: #AAA;
}

dl.details dd {
    color: inherit;
}

dl.faq dt {
    color: #FFF;
}

dl.faq dt {
    color: #172040;
}

dl.thumbnail img,
.content a > img.postimage {
    background-color: rgba(0, 0, 0, 0.4);
    /*border: 1px solid #372511 !important;*/
    border: 1px solid #666 !important; /* !important for lightbox script */
    border-radius: 5px !important; /* !important for lightbox script */
    box-shadow: 0 0 6px #000000;
    padding: 0;
    transition: border 0.25s ease-out 0s;
}

dl.thumbnail img,
.content a > img.postimage {
    background-color: rgba(0, 0, 0, 0.4);
    border: 3px solid #888 !important;
    border-radius: 0 !important;
    box-shadow: none;
    padding: 0;
    transition: border 0.25s ease-out 0s;
}

dl.thumbnail dt a:hover {
    background-color: #222222;
}

dl.thumbnail dt a:hover,
.content a > img.postimage:hover {
    background: none;
}

dl.thumbnail dt a:hover img,
.content a > img.postimage:hover {
    border: 1px solid #CD9000 !important; /* !important for lightbox script */
}

dl.thumbnail dt a:hover img,
.content a > img.postimage:hover {
    border: 3px solid #00b6ff !important;
}

/* Post poll styles
----------------------------------------*/

/* Poster profile block
----------------------------------------*/

.posthilit {
    background-color: #CCC;
    color: #000;
    text-shadow: none;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */

/* Pagination
---------------------------------------- */

/* Search box
--------------------------------------------- */

.search-box .inputbox {
    border-color: #5d5d5d;
}


.search-box .inputbox:focus,
.search-box .inputbox:hover {
    border-color: #C77E19;
}

.search-header {
    box-shadow: none;
}


ul.cplist {
    background: linear-gradient(to top, rgba(13, 13, 13, 1) 0, rgba(27, 27, 27, 0) 46px);
    border: 1px solid #575757;
    box-shadow: 0 0 0 1px #000;
    padding: 3px;
    margin-bottom: 8px;
}

/* Icon images
---------------------------------------- */

/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/
.panel-container li.header{
    color: #222;
}

.panel-container .panel li.row {
    border-width: 1px;
    border-style: solid;
    border-color: #000 transparent #161616 transparent;
    transition: background 0.15s ease-in-out 0s;
}

.panel-container .panel li.row:hover {
    background-color: #1E1E1E;
    background-color: rgba(30, 30, 30, 0.8);
}

.panel-container .panel li.row.bg1 {
    background: #252525 linear-gradient(to bottom, rgba(30, 30, 30, 1) 0, rgba(37, 37, 37, 0) 35px);
    border-color: #252525 #000 #000 #252525;
}

.panel-container .panel li.row.bg1:hover {
    background: #252525 linear-gradient(to top, rgba(30, 30, 30, 1) 0, rgba(37, 37, 37, 0) 35px);
    color: #FFF;
}

.panel-container .panel li.row.bg2 {
    background: #161616 linear-gradient(to bottom, rgba(11, 11, 11, 1) 0, rgba(22, 22, 22, 0) 35px);
    border-color: #161616 #000 #000 #161616;
}

.panel-container .panel li.row.bg2:hover {
    background: #161616 linear-gradient(to top, rgba(11, 11, 11, 1) 0, rgba(22, 22, 22, 0) 35px);
    color: #FFF;
}

.panel-container .panel li.row.bg3 {
    background: #333 linear-gradient(to bottom, rgba(40, 40, 40, 1) 0, rgba(51, 51, 51, 0) 35px);
    border-color: #333 #000 #000 #333;
}

.panel-container .panel li.row.bg3:hover {
    background: #333 linear-gradient(to top, rgba(40, 40, 40, 1) 0, rgba(51, 51, 51, 0) 35px);
    color: #FFF;
}









/* CP tabbed menu
----------------------------------------*/

/* Mini tabbed menu used in MCP
----------------------------------------*/



/* Responsive tabs
----------------------------------------*/



/* UCP navigation menu
----------------------------------------*/



/* Preferences pane layout
----------------------------------------*/

/* PM Styles
----------------------------------------*/
/* PM Message history */



/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/



/* Definition list layout for forms
---------------------------------------- */


/* Posting page styles
----------------------------------------*/
/* Main message box */




/* Input field styles
---------------------------------------- */




/* Form button styles
---------------------------------------- */



/* Search box (header)
--------------------------------------------- */



/* jQuery popups
---------------------------------------- */


/* Notifications
---------------------------------------- */


































